@use './../utils/vars';

* {
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: vars.$color-black;

  &::selection {
    background: vars.$color-1;
  }
}

html,
body,
#root
{
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

html,
body {
  font-family: vars.$font-text;
  font-size: vars.$font-size-base;
  line-height: 1.4;
  font-weight: 400; // regular
}

body {
  margin: 0;
}

/* disable the instant scrolling for users that have configured
their system/browser to reduce animations and movements,
due to vestibular system disorders  */
html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: vars.$color-3;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}