/* ====== FONT FAMILY ====== */
$font-text: "Roboto", sans-serif;

/* ====== COLORS ====== */
$color-1: #ff7b77;
$color-2: #ffd0c4;
$color-3: rgb(0, 22, 44);
$color-4: #fdeeee;
$color-black: hsl(0deg, 0%, 0%);
$color-white: hsl(0deg, 0%, 100%);
$shadow: rgb(219, 218, 218);

/* ====== TYPOGRAPHY ====== */
$font-size-base: 1em;

$font-size-S: 0.9rem;
$font-size-M: 1rem;
$font-size-L: 1.1rem;
$font-size-XL: 1.4rem;
$font-size-XXL: 2rem;
$font-size-XXXL: 2.5rem;

/* ====== FONT WEIGHT ====== */
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* ====== SPACING ====== */
$space-base: 8px;
$space-XS: 16px;
$space-S: 24px;
$space-M: 32px;
$space-L: 40px;
$space-XL: 48px;

/* ====== SIZES (HEIGHT, WIDTH) ====== */
$size-XXS: 8px;
$size-XS: 16px;
$size-S: 24px;
$size-M: 32px;
$size-L: 40px;
$size-XL: 48px;
$size-XXL: 72px;

/* ====== RADIUS ====== */
$radius-cercle: 50%;
$radius-S: 5px;
$radius-M: 16px;
$radius-L: 24px;
$radius-XL: 48px;