@use './../../styles/utils/vars';

.footer {
  z-index: 10;
  margin-block-start: vars.$space-XL * 2.3;
  text-align: center;
  color: vars.$color-white;
  background: vars.$color-footer-bg;
  padding: 0.25em 0;
}