@use './../../styles/utils/vars';

.header {
  background: #f4f4f4;
  padding: vars.$space-M;
  font-weight: vars.$font-weight-bold;

  img {
    max-width: 96px;
    margin-inline-end: vars.$space-base * 1.5;
    margin-inline-start: (vars.$space-base * 1.5) * -1;

  }

  h1 {
    font-size: vars.$font-size-base * 2.5;
    text-align: center;
  }

  @media screen and (max-width: 550px) {
    img {
      display: block;
      margin-inline: auto;
    }

  }

}